html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* media  quries*/
@media only screen and (max-width: 1025px) {
    .aboutdataHolder h1{
        font-size: 70px !important;
    }
  
}
@media only screen and (max-width: 544px) {
    .aboutdataHolder h1{
        font-size: 60px !important;
    }
  
}

@media only screen and (min-width: 992px) {
    .navbar .show {
        background-color: transparent !important;
    }
}
.navbar-brand h1{
    margin: 10px 30px;
    font-weight: 600;
    color: #005598;
    transition: .3s ease;
    font-size: 30px;
}
.navbar-brand h1:hover{
    color: black;
}
.homeView {
    height: 100vh;
}
/* hambur */

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 4;
    stroke-linecap: round;
}

.ham7 .top {
    stroke-dasharray: 40 82;
}

.ham7 .middle {
    stroke-dasharray: 40 111;
}

.ham7 .bottom {
    stroke-dasharray: 40 161;
}

.ham7.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
}

.ham7.active .middle {
    stroke-dashoffset: 23px;
}

.ham7.active .bottom {
    stroke-dashoffset: -83px;
}


/* navbar */
.collapse {
    justify-content: center;
}
.nav-item {
    margin: 8px 30px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    z-index: 11;
    cursor: pointer;
    letter-spacing: 1px
}
.navbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 5px 0px;
    z-index: 20;
    transition: 0.4s ease;
    transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
    /* box-shadow: none; */
}


/* carousel */
.carouselHolder {
    height: 86vh;
    width: 100%;
}
.jislider__left-arrow {
    position: absolute;
    left: 10px;
    top: 0;
    padding-bottom: 7px;
    border: none;
    line-height: 1px;
    font-size: 50px;
    border-radius: 38px;
    bottom: 0;
    margin: auto;
    background: #ffffff63;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.jislider__right-arrow {
    position: absolute;
    right: 10px;
    padding-bottom: 7px;
    border: none;
    line-height: 1px;
    top: 0;
    font-size: 50px;
    border-radius: 38px;
    bottom: 0;
    margin: auto;
    background: #ffffff63;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.jislider__left-arrow {
    opacity: 0;
    transition: .4s ease-in-out;
    transform: translateX(0px);
}

.jislider__right-arrow {
    opacity: 0;
    transform: translateX(0px);
    transition: .4s ease-in-out;
}
.jislider__left-arrow:hover, .jislider__right-arrow:hover {
    background-color: #579378;
    color: white;
}
.carouselHolder :hover .jislider__left-arrow {
    opacity: 1;
    transform: translateX(20px);
}

.carouselHolder :hover .jislider__right-arrow {
    opacity: 1;
    transform: translateX(-20px);
}
.sliderImage {
    height: 100vh;
    width: 100%;
    background-position: center left;
    background-size: cover;
    background-image: url(../src/2.jpg);
    background-repeat: no-repeat;
}
.owl-dotsCustom {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
}





/* collections */


.collectionheader h3 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin: 10px 10px 25px 10px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.collectionheader h3:after, .collectionheader h3:before {
    display: inline-block;
    content: "";
    border-top: 1.5px solid black;
    width: 5%;
    margin: 0 1.2%;
    transform: translateY(-11px);
}

.banner a:visited {
    color:white;
    text-decoration: none;
}

.banner a:hover {
    text-decoration: none;
}

.prodBanner {
    position: absolute;
    bottom: 30px;
    right: 40px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    transition: opacity .5s ease;
    padding: 4px 12px;
    background: #fff;
    color: #333333;
    text-transform: uppercase;
}

.banner:hover .bannerOverlay {
    display: block;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    top: 40%;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    z-index: 999;
    font-size: 28px;
    font-weight: bold;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.bannerOverlay {
    display: none;
}

.banner {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    max-width: 400px;
    width: 100%;
    color: white;
    height: 100%;
    margin-bottom: 0;
    padding: .25rem 0;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
}

.banner img {
    max-width: 100%;
}

.bannerOverlay a {
    display: block;
    max-width: 110px;
    background: transparent;
    backdrop-filter: blur(2px);
    border: .5px solid white;
    margin: auto;
    margin-top: 25px;
    padding: 0;
    color: white;
    height: 30px;
    text-transform: lowercase;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    transition: .3s ease;
    border-radius: 3px;
}
.bannerOverlay a:hover{
   
    color: black;
    letter-spacing: 1px;
    background-color: white;
}
.product-img:after {
    z-index: 99;
    background:rgb(0 0 0 / 29%);
    bottom: 50%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin: 5px 0;
    opacity: 0;
}

.product-img:before {
    background: rgb(0 0 0 / 29%);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 50%;
    top: 0;
    opacity: 0;
    margin: 5px 0;
    z-index: 99;
}

.banimgHolder {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
    min-height: 100%;
    height: 380px;
    transition: 0.35s ease-in-out;
    transform-origin: center;
    min-width: 100%;
    font-weight: 600;
    filter: brightness(0.8);
    font-family: 'Open Sans', sans-serif;
}

.banner:hover .product-img:before {
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.banner:hover .product-img:after {
    top: 0;
    bottom: 0;
    opacity: 1;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.banner:hover .prodBanner, .banner:hover .prodBanner {
    opacity: 0;
}
.diffHeight {
    height: 280px !important;
}





/* about us*/

.aboutImage {
    width: 100%;
    height: 100%;
    min-height: 70vh;
    background-image: url(../src/aboutUs.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.contactForm {
    height: 70%;
    width: 100%;
    max-width: 370px;
    background-color: #871616;
    box-shadow: 1px 1px 13px 4px #00000054;
    padding: 15px;
    margin: 10px auto;
    border-radius: 4px;
    margin-bottom: 100px;
    text-align: center;
}

.contactForm h3 {
    text-align: center;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: black;
}

.inputForm {
    padding: 8px 20px;
    border: none;
    border-radius: 30px;
    margin: 10px auto;
    background-color: #ffffffb8;
    width: 95%;
}

.inputForm:focus {
    outline: none;
}

input:focus~.floating-label, input:not(:focus):valid~.floating-label {
    top: -6px;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 11px;
    opacity: 1;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 27px;
    top: 20px;
    opacity: .8;
    font-size: 15px;
    transition: 0.25s ease all;
}

.formButton {
    text-align: center;
    padding: 8px;
    margin: 8px auto;
    background-color: black;
    color: white;
    border: none;
    width: 140px;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 600;
}

.formButton:focus {
    outline: none;
}

.formButton:hover {
    color: black;
    background-color: white;
}

.aboutdataHolder h1{
    font-size: 120px;
    font-weight: 900;
    color: white;
    margin: 10px auto;

}
.aboutdataHolder {
    backdrop-filter: blur(1.5px);
    margin: 3% auto;
    width: max-content;
    padding: 30px 2%;
    
}
.aboutdataHolder p{
    color: white;
    padding: 10px;
    font-size: 18px;
    max-width: 360px;
    width: 90%;
}
.downButton{
    text-align: center;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    color: white;
    border: .8px solid white;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    bottom: 4%;
    transition: .3s ease;
    

}
.downButton:hover{
    color: black;
    background-color: white;
}
.downButton a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.downButton i{
    bottom: 50%;
    margin-bottom: -10px;
    width: 20px;
    margin-left: -10px;
    position: absolute;
    left: 50%;
    height: 20px;
}
.updownanim{
    animation-name: upandddown;
    animation-iteration-count: infinite;
    
    animation-duration: .8s;
    animation-direction: alternate;
    position: absolute;
}
@keyframes upandddown{
    0% {bottom: 35%;}
    100% {bottom: 60%;}
}


/* footer */

.footerholder {
    background-color: #414141;
    color: white;
    padding: 20px 10px;
   
    min-height: 290px;
}

.footerData {
    margin: 40px auto;
    text-align: center;
}

.footerData a {
    color: white;
    font-size: 14px;
    display: block;
}

.footerData h5 {
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

.footerData i {
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
}

.footerData p {
    font-size: 14px;
}


/* testimonials */

.testimialHolder {
    padding: 8% 5px;
    background-image: url(../src/dot2.jpg);
}

.testimonialSlide {
    height: 300px;
    padding: 30px;
    text-align: center;
    border: 1px solid black;
}

#testimonial:hover .jislider__left-arrow {
    opacity: 1;
    transform: translateX(20px);
}

#testimonial:hover .jislider__right-arrow {
    opacity: 1;
    transform: translateX(-20px);
}

.testimonial-card {
    min-height: 400px;
    width: 100%;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: #000000;
    background-image: linear-gradient(191deg, #000000 0%, #2c2b2bb3 96%);
}

.text {
    padding: 2.2em;
    line-height: 1.7em;
    position: relative;
    font-size: 16px;
}

.image {
    background-color: tomato;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid white;
    background: no-repeat center/cover url(../src/profile.png);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

#testimonial .item {
    margin: 1px;
}

.footer {
    height: 140px;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.quote {
    font-size: 400% !important;
    float: right;
    opacity: .1;
    transform: rotate(10deg) translate(8px, -3px);
    color: white;
}

.person {
    color: white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.owl-testimon{
    margin-top: 20px;
}